<!DOCTYPE html>
<html lang="en">

<head>
    <!--Meta-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Links    
        <link rel="stylesheet" href="assets/styles/_global-style.css" async>
    -->
    <link rel="stylesheet" href="assets/styles/reset.css">
    <link rel="stylesheet" href="assets/styles/new-index-style.css">
    <link rel="shortcut icon" href="assets/images/logo-min.png" type="image/x-icon">
    <!--Other-->
    <title>AltF4</title>
</head>

<body>
    <!--Banner-->
    <banner class="banner">
        <!--Topbar-->
        <component type="_topbar" data-logo="min"></component>
        <div class="content">

        </div>
        <svg viewBox="0 0 1440 320">
            <path fill="#5000ca" fill-opacity="1"
                d="M0,128L60,138.7C120,149,240,171,360,170.7C480,171,600,149,720,122.7C840,96,960,64,1080,64C1200,64,1320,96,1380,112L1440,128L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z">
            </path>
            <path fill="#0099ff" fill-opacity="1"
                d="M0,128L60,106.7C120,85,240,43,360,48C480,53,600,107,720,144C840,181,960,203,1080,202.7C1200,203,1320,181,1380,170.7L1440,160L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z">
            </path>
        </svg>
    </banner>
    <main class="content-container">
        <section class="contents">
            <article class="about-container">
                <h1>O nas</h1>
                <!--Opis tutaj jakis dac pozniej-->
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla harum maiores architecto fuga id
                    consequuntur dolore explicabo omnis, accusamus quam, aspernatur, nobis ipsa consequatur
                    necessitatibus qui! Reprehenderit reiciendis iusto laborum natus numquam dolore eveniet culpa
                    quaerat ipsum asperiores voluptatem consequatur, distinctio alias facere consectetur nesciunt soluta
                    perspiciatis provident. Ab, hic.</p>
            </article>
            <div class="offers-container" id="oferta">
                <a href="#oferta">
                    <h1>Oferta:</h1>
                </a>
                <div class="offers">
                    <connection query="SELECT * FROM `offers`">
                        <div class="offer">
                            <h2>
                                <name></name>
                            </h2>
                            <img src="${offers.offers[nb-1].image}">
                            <p class="price">
                                <price></price>
                            </p>
                            <p>
                                <description></description>
                            </p>
                            <a>
                                <div class="offer-button">See more...</div>
                            </a>
                        </div>
                    </connection>
                    <script type="module" src="assets/scripts/offers.js" async></script>
                </div>
            </div>
            <article class="contact-container" id="kontakt">
                <a href="#kontakt">
                    <h1>Kontakt:</h1>
                </a>
            </article>
        </section>
    </main>
    <!--Footer-->
    <component type="_footer"></component>
    <!--Scripts-->
    <script src="assets/scripts/jQuery-3.6.1.min.js" async></script>
    <script src="assets/scripts/timer.js" defer></script>
</body>

</html>