:root {
    color-scheme: dark;

    --bg-color: #212121;
    --text-color: #EFEFEF;
    --fl-color: #feff00;
    --fd-color: #feb64e;
    --sl-color: #ff6079;
    --sd-color: #ff1e5f;
    --tl-color: #01f8e3;
    --td-color: #008bdc;
}

* {
    box-sizing: border-box;
    font-family: calibri;

    background-color: var(--bg-color);
    color: var(--text-color);

    margin: 0;
    padding: 0;
}

/*Topbar style*/
.topbar {
    width: 100%;
    height: 100px;
    padding-inline: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    letter-spacing: 2px;

    border-bottom: 5px solid;
    border-image: linear-gradient(45deg, var(--td-color), var(--tl-color), var(--fl-color), var(--fd-color), var(--sl-color), var(--sd-color)) 30;
}