@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');

:root {
    color-scheme: dark;
    scroll-behavior: smooth;

    --bg-color: #121212;
    --bg-light: #171717;
    --bg-dark: #101010;
    --bg-transparent: rgba(33, 33, 33, .9);
    --text-color: #EFEFEF;
    --accent-blue-light: #00c9fc;
    --accent-blue-dark: #008bdc;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;

    color: var(--text-color);

    margin: 0;
    padding: 0;

    text-decoration: none;
}

/*Body style*/
body {
    min-height: 100vh;
}

/*Topbar style*/
.topbar {
    width: 100%;
    height: 100px;
    padding-inline: 50px;

    top: 0;
    position: sticky;
    z-index: 999;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    letter-spacing: 2px;

    background-color: var(--bg-transparent);
}

.topbar>.btt-container {
    padding-inline: 15px;
    margin-left: auto;

    justify-self: baseline;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.topbar>.btt-container>a>.button {
    width: 225px;
    height: 65px;

    display: grid;
    place-items: center;

    border-bottom: 1px solid var(--text-color);

    font-size: 125%;
    transition: .3s;

    user-select: none;
    cursor: pointer;
}

/*animacja do poprawy*/
.topbar>.btt-container>a>.button:hover {
    border-bottom: 2px solid var(--text-color);
    letter-spacing: 3px;
}

/* Footer style*/

.footer {
    width: 100%;
    min-height: 250px;
    height: fit-content;
    
    display: flex;
    gap: 20px;

    background-color:var(--bg-light);
    box-shadow: -8px -8px 24px 0px var(--bg-dark);

    user-select: none;
}