<!DOCTYPE html>
<html lang="en">

<head>
    <!--Meta-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Links    
        <link rel="stylesheet" href="assets/styles/_global-style.css" async>
    -->
    <link rel="stylesheet" href="assets/styles/new-index-style.css">
    <link rel="shortcut icon" href="assets/images/favicon.png" type="image/x-icon">
    <!--Other-->
    <title>AltF4</title>
</head>

<body>
    <!--Topbar-->
    <component type="_topbar" data-logo="min"></component>
    <!--Rest of page-->
    <main class="content-container">
        <!--Banner-->
        <banner class="banner">
            <div class="timer">
                <i>Jesteśmy firmą już od:</i>
                <p>--:--:--:--</p>
            </div>
        </banner>
        <main class="contents">
            <article class="about-container">
                <h1>O nas</h1>
                <!--Opis tutaj jakis dac pozniej-->
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla harum maiores architecto fuga id
                    consequuntur dolore explicabo omnis, accusamus quam, aspernatur, nobis ipsa consequatur
                    necessitatibus qui! Reprehenderit reiciendis iusto laborum natus numquam dolore eveniet culpa
                    quaerat ipsum asperiores voluptatem consequatur, distinctio alias facere consectetur nesciunt soluta
                    perspiciatis provident. Ab, hic.</p>
            </article>
            <div class="offers-container" id="oferta">
                <a href="#oferta">
                    <h1>Oferta:</h1>
                </a>
                <div class="offers">
                    <script type="module" src="assets/scripts/offers.js" async></script>
                </div>
            </div>
            <article class="contact-container" id="kontakt">
                <a href="#kontakt">
                    <h1>Kontakt:</h1>
                </a>
            </article>
        </main>
    </main>
    <!--Footer-->
    <component type="_footer"></component>
    <!--Scripts-->
    <script src="assets/scripts/jQuery-3.6.1.min.js" async></script>
    <script src="assets/scripts/timer.js" defer></script>
</body>

</html>