<!DOCTYPE html>
<html lang="en">

<head>
    <!--Meta-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Links    -->
    <link rel="stylesheet" href="assets/styles/main-style.css" async>
    <link rel="stylesheet" href="assets/styles/index-style.css">
    <link rel="shortcut icon" href="assets/images/favicon.png" type="image/x-icon">
    <!--Other-->
    <script src="assets/scripts/jQuery-3.6.1.min.js" async></script>
    <script src="assets/scripts/timer.js" defer></script>
    <title>AltF4</title>
</head>

<body>
    <!--Topbar-->
    <div class="topbar">
        <img src="assets/images/logo.png" alt="[ LOGO ]" class="logo">
        <!--Topbar Buttons-->
        <div class="btt-container">
            <a href="#kontakt">
                <div class="button">Kontakt</div>
            </a>
            <a href="#oferta">
                <div class="button">Oferta</div>
            </a>
            <a href="">
                <div class="button">Zaloguj się</div>
            </a>
        </div>
    </div>
    <!--Rest of page-->
    <div class="content-container">
        <!--Banner-->
        <div class="banner">
            <div class="timer">
                <i>Jesteśmy firmą już od:</i>
                <p>--:--:--:--</p>
            </div>
        </div>
        <div class="contents">
            <div class="about-container">
                <h1>O nas</h1>
                <!--Opis tutaj jakis dac pozniej-->
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla harum maiores architecto fuga id
                    consequuntur dolore explicabo omnis, accusamus quam, aspernatur, nobis ipsa consequatur
                    necessitatibus qui! Reprehenderit reiciendis iusto laborum natus numquam dolore eveniet culpa
                    quaerat ipsum asperiores voluptatem consequatur, distinctio alias facere consectetur nesciunt soluta
                    perspiciatis provident. Ab, hic.</p>
            </div>

            <div class="offers-container" id="oferta">
                <a href="#oferta">
                    <h1>Oferta:</h1>
                </a>
                <div class="offers">
                    <script type="module" src="assets/scripts/offers.js" async></script>
                    <!--<div class="offer">
                        <h2>PlaceHolder</h2>
                        <img src="https://place-hold.it/512x512">
                        <p class="price">od NaN</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae at sequi qui perferendis
                            voluptas corrupti culpa, odio alias cum porro soluta vitae illum molestiae dolores minima
                            voluptatibus beatae, eveniet itaque? Molestias quo eaque quia est nulla. Ipsa, itaque nulla
                            minima ullam, molestiae, fuga ut tempora accusantium sunt maiores neque alias?
                        </p>
                        <a>
                            <div class="offer-button">See more...</div>
                        </a>
                    </div>-->
                </div>
            </div>
            <div class="contact-container" id="kontakt">
                <a href="#kontakt">
                    <h1>Kontakt:</h1>
                </a>

            </div>
        </div>
    </div>
</body>

</html>